
.button {
    -fx-background-color: linear-gradient(to right, yellow, green);
    -fx-font-color: purple;
}

.scene:header .header-panel {
    -fx-background-color: black;
    -fx-text-color: purple;
    -fx-border-color: linear-gradient(green, yellow);
}